*{
    margin: 0;
    padding: 0;
    
   }
   @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Ubuntu:wght@500&display=swap');
   .navbar{
       display: flex;
       background-image: url('../../public/red23.jpg'); filter: brightness(150%);
       /* justify-content: space-between; */
       height: 10vh;
      
       background-size: cover;
       position: sticky;
       top: 0px;
      
      z-index: 1;
   
   }
   .nav-list{
       display: flex;
      justify-content: center;
       align-items: center;
       width: 80%;
       margin-left: 200px;
      
      
   
   }
   .nav-list li{
       list-style: none;
       /* padding: 26px 50px; */
       
   } 
   .nav-list li a{
       text-decoration: none;
       padding: 26px 50px;
       color: black;
       font-size: 22px;
       font-family: 'Ubuntu', sans-serif;
       /* font-weight: bolder; */
      
      
       
       /* font-weight: 500;  */
       
   }
   .nav-list li a:hover{
       color: white;
   }
   .logo {
       width: 26%;
        display: flex; 
       justify-content: center;
       align-items: center; 
   }
   .logo img{
       width: 33%;
      
   }
   .right-nav{
      
       width: 20%;
       text-align: right;
       padding-right: 20px;  
       display: flex;
       justify-content: flex-end;
       align-items:center;
   }
    .right-list{
       color: yellow ;  
       border: 2px solid white;
       border-radius: 20px; 
       text-align: center;
       font-size: 20px;
       padding: 0px 10px; 
       
   
   } 
   @media only screen and (max-width:1240px){
    .nav-list {
      flex-direction: column
    }
   }

   
   
   
   